<div id="redirect-bar" class="redirect-bar" style="display:none">
  <div class="redirect-bar-text">
   We noticed you're in <span class="country"></span>, so we have redirected you to our Canadian store.
    <div class="text-center redirect-btn">          
    	<a class="redirect-btn" href="https://sweetlegs.com/?no-redirect" target="_self">Go to USD store</a>
    	<a href="#" class="redirect-btn no">Thanks! Close this</a> 
    </div>
  </div>
</div>