<nav class="myaccount-navigation">
  <ul>
    <li>
      <a href="/account">{{ 'customer.account.title' | t }}</a>
    </li>
     {% if customer.tags contains "distributor" or customer.tags contains"Distributor" %}
    <li class="bulk-order-button">
    <a href="#">Quick Order Form</a>
    </li>
      {% endif %}
    <li>
      <a href="/account/addresses">{{ 'customer.account.addresses' | t }}</a>
    </li>
    <li>
      <a href="/account/logout">{{ 'customer.account.logout' | t }}</a>
    </li>
  </ul>
</nav>