@media screen and (max-width: 63.9375em) {
  .text-left {
    display: none;
  }
  .menu-item.wishlist-button {
    display: none;
  }
  .menu-item.social-button {
    display: none;
  }
  .text-right {
    text-align: right;
  }
  .topbar .menu-item {
    margin-left: 20px;
      font-size: 12px;
  }
}
